.text {
    font-size: 24px;
    color: white;
}

.ava {
    width: 60px;
    border-radius: 100%;
    margin: 10px;
}

.post {
    display: flex;
    align-items: center;
}
.like {
    font-size: 22px;
    margin: 10px;
    background-color: burlywood;
}

.like:focus {
    color: #8D230F;
}