.post {
    display: flex;
    align-items: center;
}
textarea {
    margin: 20px;
    border-radius: 10px;
    background-color: #f5d4a2;
}
.button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 30px;
    background: #962020;
    box-shadow: 0 -3px #4d1212 inset;
    transition: 0.2s;
    width: 100px;
    font-size: 16px;
}

.button:hover {
    background: #ba2929;
}

.button:active {
    background: #b34646;
    box-shadow: 0 3px #803232 inset;
}