.navbar {
    grid-area: n;
    background-color: #1E434C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item {
    text-decoration: none;
    font-family: "Bauhaus 93";
    color: #C99E10;
    font-size: 30px;
}

.item:hover {
    color: #9B4F0F;
    font-size: 32px;
}