.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialog {
    margin: 30px;
    font-family: "Bodoni MT";
    font-size: 28px;
    font-weight: bold;
    color: #14292e;
    text-decoration: none;
}

.dialog:hover {
    color: #730d0d;
}

.mess {
    color: white;
    font-family: "Bodoni MT";
    font-size: 18px;
}